
.container {
    height: 500px;
    width: 900px;
    margin: 0px auto;
}

    .container .ninja{
        height: 200px;
        width: 200px;
        border: solid black;
        display: inline-block;
    }
